.bar{
    padding: 0;
}

.navbar{
    justify-content: left;
}

 .sizes{
    /*width: 300%;*/
    width: 700px;
    height: 30px; 
}

.boton{
    height: 30px;
    padding: 0;
    width: 40px;
}

footer{
    color: #ffffff;
    bottom: 0px;
    width: 100%;
    padding: 10px
  }